.contact-box-container {
  transition: opacity 1s ease-in-out;
}
.contact-box-container:hover .contact-box {
  transition: opacity 0.1s ease-in-out;
  opacity: 0.5;
}

.contact-box-container .contact-box:hover {
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}