@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-container {
  transition: opacity 1s ease-in-out;
}
.custom-container:hover .custom-child {
  transition: opacity 0.1s ease-in-out;
  opacity: 0.5;
}

.custom-container .custom-child:hover {
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}
